@font-face {
    font-family: "ANRP-Demi";
    src: url("http://afamily1.vcmedia.vn/web_font/ANRP-Demi.otf");
}

@font-face {
    font-family: "ANRP-Bold";
    src: url("http://afamily1.vcmedia.vn/web_font/ANRP-Bold.otf");
}

@font-face {
    font-family: "ANRP-Medium";
    src: url("http://afamily1.vcmedia.vn/web_font/ANRP-Medium.otf");
}

.waflp-bg, .waflp-bg-mobile {
    position: relative;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-position: center top;
    overflow: hidden;
}

.waflp-bg{
    border-bottom: 1px solid #e0bb9a;
}



.waflp-bg img {
    display: block;
    width: 100%;
}

.logo-waf {
     width: 110px;
    height: 180px;
    display: block;
    background: url("../images/logo-waf-2016.jpg") #ffffff center center no-repeat;
    top: 3%;
    left: 0;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    z-index: 2;
}

.logo-af {
    position: absolute;
    display: block;
    background: url("../images/logo-af.png") center center no-repeat;
    width: 160px;
    height: 60px;
    right: 3%;
    bottom: 3%;
}

.waflp-content {
    position: absolute;
    top: 3%;
    left: 12%;
    width: 32%;
    display: block;
    text-align: center;
}

.waflp-slogan {
    font-family: "ANRP-Demi";
    font-size: 15px;
    line-height: 22px;
    color: #527f94;
    width: 222px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-left: 40px;
}

.wafc-text {
    display: block;
    margin-bottom: 8px;
    padding: 0 70px;
    margin-top: -20px;
}

.wafc-text img {
    width: 100%;
}

.date-start {
    font-family: "ANRP-Demi";
    font-size: 16px;
    color: #f4f2ef;
    background: #527f94;
    padding: 12px 18px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    display: inline-block;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.wafc-vcontent {
    padding: 9px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    text-align: left;
    display: block;

}

.wafc-vcontent:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(175, 95, 85);
    opacity: 0.2;
    z-index: -1;
}

.video-wrp {
    overflow: hidden;
}

.wafv-info {
    padding: 20px 18px;
    display: block;
    background: #ffffff;
    margin-top: -3px;
}

.left-clm {
    width: 85%;
    display: block;
    position: relative;
}

.wafv-title a {
    font-family: "ANRP-Demi";
    font-size: 30px;
    margin-bottom: 15px;
    color: #000;
    display: block;
    color: #333333;
    text-decoration: none;
}

.wafv-sapo {
    display: block;
    font-family: Arial;
    font-size: 15px;
    line-height: 20px;
    color: #777777;

}

.register-story {
    font-family: ANRP-Medium;
    font-size: 18px;
    color: #ba6c65;
    display: block;
    text-decoration: underline;
    margin-top: 60px;
}

.special {
    position: absolute;
    bottom: -30px;
    right: 18%;
    width: 245px;
    height: 200px;
    animation: scrolldown 0.3s linear 0.3s infinite alternate;
    -webkit-animation: scrolldown 0.3s linear 0.3s infinite alternate;
    -moz-animation: scrolldown 0.3s linear 0.3s infinite alternate;
    background: url("../images/bg-arrow-new.png") center center no-repeat;
    background-size: 85%;
}

.bgwitharrow {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}


/*.arrow {
    display: block;
    width: 49px;
    height: 72px;
    margin: 0 auto;
    position: absolute;
    background-image: url('../images/arrowa.png');
    background-repeat: no-repeat;
    background-position: center center;
    animation: scrolldown 0.3s linear 0.3s infinite alternate;
    -webkit-animation: scrolldown 0.3s linear 0.3s infinite alternate;
    -moz-animation: scrolldown 0.3s linear 0.3s infinite alternate;
    bottom: 10px;
    left: 20px;
    right: 0;
}*/

@keyframes scrolldown {
    0% {
        bottom: -28px;
    }
    100% {
        bottom: -32px;
    }
}

@-webkit-keyframes scrolldown {
    0% {
        bottom: -28px;
    }
    100% {
        bottom: -32px;
    }
}

@-moz-keyframes scrolldown {
    0% {
        bottom: -28px;
    }
    100% {
        bottom: -32px;
    }
}
@keyframes scrolldownmobile {
    0% {
        bottom: -8px;
    }
    100% {
        bottom: -12px;
    }
}

@-webkit-keyframes scrolldownmobile {
    0% {
        bottom: -8px;
    }
    100% {
        bottom: -12px;
    }
}

@-moz-keyframes scrolldownmobile {
    0% {
        bottom: -8px;
    }
    100% {
        bottom: -12px;
    }
}
.swiper-pagination {
    left: 0;
    right: 0;
    bottom: -30px;
}

.swiper-pagination-bullet {
    background: #d0a794 !important;
    opacity: 1 !important;
    width: 10px !important;
    height: 10px !important;
    margin: 0 4px;
}

.swiper-pagination-bullet-active {
    background: #f36f73 !important;
}

/* special-content */

.special-wrp {
    /*padding: 200px 0;*/
    background: url("../images/bg-special.png") left top repeat;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index:1;
}

.special-content {

    width: 840px;
    margin: 0 auto;
}

.sc-text {
    text-align: center;
    font-family: ANRP-Demi;
    font-size: 22px;
    line-height: 30px;
    color: #f36f73;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.scali {
    width: 250px;
    margin-right: 40px;
    display: block;
    float: left;
    position: relative;
}

.scali:nth-of-type(3) {
    margin-right: 0;
}

.avatar {
    padding: 15px;
    background: #ffffff;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    position: relative;
    margin-bottom: 50px;
}
.avatar img{ width: 220px;height: 220px;}
.layermerge {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

}

.scali.type1 .layermerge {
    background: url("../images/bg-cym.png") center center no-repeat;
}

.scali.type2 .layermerge {
    background: url("../images/bg-cycn.png") center center no-repeat;
}

.scali.type3 .layermerge {
    background: url("../images/bg-cyb.png") center center no-repeat;
}

.btngroup {
    text-align: center;
}

.btnupload {
    padding: 13px 28px 11px 65px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: ANRP-Bold;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    width: 149px;
    position: relative;
}

.btnsave, .btnshare {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-family: ANRP-Bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.scali.type1 .btnupload, .scali.type1 .btnsave {
    background: #ef7a9e;
}

.scali.type2 .btnupload, .scali.type2 .btnsave {
    background: #f39672;
}

.scali.type3 .btnupload, .scali.type3 .btnsave {
    background: #4ba1c9;
}

.scali.type1 .btnupload:hover, .scali.type1 .btnsave:hover {
    background: #dc6086;
}

.scali.type2 .btnupload:hover, .scali.type2 .btnsave:hover {
    background: #ff8657;
}

.scali.type3 .btnupload:hover, .scali.type3 .btnsave:hover {
    background: #4ba1c9;
}

.scali .btnsave {
    padding: 11px 22px 11px 47px;
}

.scali .btnshare {
     background: #2a66a3;
    padding: 11px 5px;
    margin: 0 auto 15px;
    width: 235px;

}

.scali .btnshare:hover {
    background: #2d5b8a;
}

.scali .btnsave:before, .scali .btnshare:before, .btnupload:before {
    position: absolute;
    content: '';
    display: block;
    z-index: 1;
}

.scali .btnsave:before {
    background: url("../images/download.png") center center no-repeat;
    width: 21px;
    height: 19px;
    left: 60px;
    top: 8px;
}

.scali .btnshare:before {
    background: url("../images/facebook.png") center center no-repeat;
    width: 8px;
    height: 15px;
    left: 12px;
    top: 11px;
}

.scali .btnupload:before {
    background: url("../images/camera.png") center center no-repeat;
    width: 27px;
    height: 22px;
    left: 29px;
    top: 10px;
}
.watermark{    display: block;
    width: 220px;
    height: 220px;
    position: absolute;
    top: 15px;
    left: 15px;}
.btngroup .ctruploadAvatar{        width: 217px;
    height: 42px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    left: 15px;
    }

.btnshare{ display: none;}
.btnsave{ width: 155px;z-index: 999;}
.scali .btnsave{    padding: 11px 22px 11px 33px;}
.sharefb {
    width: 50px;
    height: 50px;
    background: #2768a3;
    border-radius: 100%;
    margin: 20px auto;
}
.sharefb a.icsharefb {
    background: url(../images/faceicon.png) no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}
.toppage{
    position: fixed;
    width: 110px;
    height: 180px;
    display: block;
    top: 3%;
    left: 0;
}
.sharefb:hover{
    background: #275580;
}
 .wappervideo {
     position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.wappervideo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
           /*.btnupload{ z-index: 2;}*/

        #loading-upload, #loading-upload2, #loading-upload3{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            display: block;
            bottom: 0;
            right: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: rgba(0, 0, 0, 0);
            display: none;
        }