﻿@media (min-width: 200px) and (max-width: 990px) {
   .waflp-bg {
        background: url("../web_images/bg-special.png") left top repeat;
    }


    .waflp-bg-mobile {
        text-align: center;
    }

    .waflp-bg .waflp-slogan, .waflp-bg .logo-af, .waflp-bg .date-start, .waflp-bg .toppage, .waflp-bg .wafc-text, .right-clm, .sc-text br, .waflp-bg .toppage {
        display: none;
    }

    .waflp-bg-mobile .toppage {
        top: 5%;
        position: absolute;
        width: 60px;
        height: 105px;
    }

    .waflp-bg-mobile .toppage .logo-waf {
        width: 60px;
        height: 105px;
        background-size: 70%;
    }

    .waflp-bg-mobile .toppage {
        width: 60px;

    }

    .waflp-bg-mobile .sharefb {
        width: 40px;
        height: 40px;
    }

    .waflp-bg-mobile .sharefb a.icsharefb {
        width: 40px;
        height: 40px;
        background-size: 30%;
    }

    .waflp-bg-mobile .waflp-slogan {

        font-size: 12px;
        line-height: 18px;
        margin-top: 30px;
        margin-left: 30px;
    }

    .waflp-bg-mobile .wafc-text {
        padding: 0 30px;
        margin-top: -10px;
    }

    .waflp-bg-mobile .date-start {
        position: absolute;
        bottom: 25px;
        display: block;
        margin: 0;
    }

    .wafvli, .waflp-content, .left-clm, .special-content {
        width: 100% !important;

    }

    .waflp-content {
        position: relative;
        left: 0;
        top: 0;
    }

    .wafc-vcontent {
        padding: 0;
    }

    .wafv-info {
        padding: 10px;
    }

    .wafv-title a {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .special-content {
        margin-top: 80px;
    }

    .sc-text {
        font-size: 17px;
        line-height: 24px;
        padding:0 20px;
    }

    .scali {
        margin: 0 auto;
        float: none;
        margin-bottom: 70px;
    }

    .scali:nth-of-type(3) {
        margin-right: auto;
    }

    .avatar, .btnupload {
        margin-bottom: 30px;
    }

    .special {
        right: 0;
        left: 48%;
        width: 100%;
        margin-left: -50%;
        bottom: 10px;
        animation: scrolldownmobile 0.2s linear 0.3s infinite alternate;
        -webkit-animation: scrolldownmobile 0.2s linear 0.3s infinite alternate;
        -moz-animation: scrolldownmobile 0.2s linear 0.3s infinite alternate;
        background-size: 22%;
    }

    .register-story {
        line-height: 23px;
        font-size: 16px;
    }

    .waflp-bg-mobile .date-start {
        font-size: 15px;
        left: 50%;
        margin-left: -130px;
    }

    .video-wrp {
        padding: 5px 0 0;
    }

}

@media (max-width: 400px) {
    .register-story {
        padding: 0 13%;

    }

    .logo-waf, .waflp-bg-mobile .sharefb {
        display: none;
    }

    .special {
        background-size: 50%;
    }
}

@media (min-width: 200px) and (max-width: 640px) {

}

@media (min-width: 640px) and (max-width: 1024px) {
    .waflp-bg-mobile .logo-waf, .waflp-bg-mobile .toppage {
        width: 80px;
        height: 130px;
    }

    .waflp-bg-mobile .toppage .logo-waf {
        width: 80px;
        height: 130px;
    }

    .waflp-bg-mobile .waflp-slogan {
        font-size: 20px;
        line-height: 25px;
        width: 100%;
        margin-left: 12px;
    }

    .waflp-bg-mobile .wafc-text {
        margin-top: -25px;
    }

    .sc-text {
        padding: 0 50px;
    }

}

@media (min-width: 990px) {
    .waflp-bg-mobile {
        display: none;
    }

}

@media (min-width: 1001px) and (max-width: 1280px) {

    .waflp-bg-mobile {
        display: none;
    }

    .logo-waf, .toppage {
        width: 90px;
        height: 160px;
        background-size: 70%;
        transition: all 0.3s ease-out;
    }

    .waflp-slogan, .date-start {
        font-size: 14px;
        line-height: 17px;
    }

    .wafc-text {
        padding: 0 90px;
        margin-top: -15px;
    }

    .waflp-content {
        width: 40%;
    }

    .left-clm {
        width: 95%;
    }

    .wafv-title a {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .wafv-sapo {
        font-size: 14px;
    }

    .right-clm {
        display: none;
    }

    .logo-af {
        display: none;
    }

    .special {
        right: 5%;
    }

    .wafv-info {
        padding: 12px 10px;
    }

    .date-start {
        margin-bottom: 20px;
        font-size: 12px;
        padding: 11px 18px 9px;
    }

    .register-story {
        margin-top: 40px;
        font-size: 15px;

    }

    .swiper-slide {
        width: 100% !important;
    }

    .right-clm {
        display: none;
    }

    .waflp-content {
        width: 35%;
    }

    .left-clm {
        width: 95%;
    }

    .sharefb {
        width: 40px;
        height: 40px;
    }

    .sharefb a.icsharefb {
        width: 40px;
        height: 40px;
        background-size: 30%;
    }

}

@media (min-width: 1280px) and (max-width: 1440px) {
    .special {
        width: 180px;
        height: 145px;
    }

    .bgwitharrow {
        background-size: 100%;
    }

    .arrow {
        width: 30px;
        background-size: 100%;
        bottom: -8px;
        left: 10px;
    }

    .wafv-title a {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .wafv-sapo {
        font-size: 13px;
        line-height: 18px;
    }

    .waflp-slogan {
        font-size: 10px;
        line-height: 13px;
    }

    .register-story {
        font-size: 14px;
        line-height: 20px;
        margin-top: 40px;
    }

    .date-start {
        font-size: 11px;
        padding: 9px 18px 7px;
    }

    .swiper-slide {
        width: 100% !important;
    }

    .right-clm {
        display: none;
    }

    .waflp-content {
        width: 28%;
    }

    .left-clm {
        width: 95%;
    }

    .wafc-text {
        margin-top: -15px;
        padding: 0 90px;
    }

    .wafv-info {
        padding: 15px;
    }

    .logo-waf, .toppage {
        width: 80px;
        height: 160px;
        background-size: 70%;
    }

    .sharefb {
        width: 40px;
        height: 40px;
    }

    .sharefb a.icsharefb {
        width: 40px;
        height: 40px;
        background-size: 30%;
    }

}

@media (min-height: 768px) and (max-width: 1660px) {
    .wafc-text {
        padding: 0 100px;
    }

    .waflp-content {
        width: 30%;
    }

    .wafv-title a {
        font-size: 22px;
        margin-bottom: 10px;
    }
}